@model FocusFinderApp.Models.Review
@{
    ViewData["Title"] = "Reviews";
}

<div>
    @{
        if (ViewBag.IsLoggedIn == null || ViewBag.IsLoggedIn == false)
        {
            <h2>To see a review, please sign in and ensure you have selected one of your own reviews.</h2>
            <a href="/Login" class="btn btn-primary">Go to Login</a>
        }
        else if (@ViewBag.currentUserId != @ViewBag.Review.userId) {
            <div>
                <h1 >You did not create this review and therefore cannot view it.</h1>
                <a href="/Reviews" class="btn btn-primary">Go to My Reviews</a>
            </div>
        }
        else{
            <h1>Your Review of @ViewBag.Location.LocationName</h1>
            <a href="/Locations/@ViewBag.Location.Id" class="btn btn-primary">See @ViewBag.Location.LocationName page</a>

            <div>
                <h4> Overall Review</h4>
                @{
                    if (@ViewBag.Review.dateLastUpdated != null){
                        <p>Date Added: @ViewBag.Review.dateLastUpdated</p>
                    }

                    if (@ViewBag.Review.overallRating != null){
                        <p>Overall Rating: @ViewBag.Review.overallRating⭐</p>
                    } 
                    
                }
            </div>
            <div>
                <h4>In-Depth Review (if any)</h4>
                @{
                    if (@ViewBag.Review.comments != null){
                        <p>Comments: @ViewBag.Review.comments/5</p>
                    }
                    if (@ViewBag.Review.noiseLevel != null){
                        <p>Noise Levels (quiet ideal): @ViewBag.Review.noiseLevel/5</p>
                    }
                    if (@ViewBag.Review.wifiSpeed != null){
                        <p>Wi-Fi Speed: @ViewBag.Review.wifiSpeed/5</p>
                    }
                    if (@ViewBag.Review.cleanliness != null){
                        <p>Cleanliness: @ViewBag.Review.cleanliness/5</p>
                    }
                    if (@ViewBag.Review.seatingAvailability != null){
                        <p>Seating Availability: @ViewBag.Review.seatingAvailability/5</p>
                    }
                    if (@ViewBag.Review.chargingPointAvailability != null){
                        <p>Charging Point Availability: @ViewBag.Review.chargingPointAvailability/5</p>
                    }
                }
            </div>
            <div>
                <h4>Review Tags (if any)</h4>
                @{
                    if (@ViewBag.Review.freeWifi != null){
                        <p>Free Wi-Fi Available</p>
                    }
                    if (@ViewBag.Review.toilets != null){
                        <p>Toilets Available</p>
                    }
                    if (@ViewBag.Review.babychanging != null){
                        <p>Babychanging Available</p>
                    }
                    if (@ViewBag.Review.wheelchairAccessible != null){
                        <p>Wheelchair Accessible</p>
                    }
                    if (@ViewBag.Review.officeLike != null){
                        <p>Office-like</p>
                    }
                    if (@ViewBag.Review.homeLike != null){
                        <p>Home-like</p>
                    }
                    if (@ViewBag.Review.queerFriendly != null){
                        <p>Queer Friendly</p>
                    }
                    if (@ViewBag.Review.neurodivergentFriendly != null){
                        <p>Neurodiversity Friendly</p>
                    }
                    if (@ViewBag.Review.groupFriendly != null){
                        <p>Group Friendly</p>
                    }
                    if (@ViewBag.Review.veganFriendly != null){
                        <p>Vegan Options Available</p>
                    }
                    if (@ViewBag.Review.glutenFreeOptions != null){
                        <p>Gluten Free Options Available</p>
                    }
                    if (@ViewBag.Review.petFriendly != null){
                        <p>Pet Friendly</p>
                    }
                    if (@ViewBag.Review.heating != null){
                        <p>Heating</p>
                    }
                    if (@ViewBag.Review.airConditioning != null){
                        <p>Air Conditioning</p>
                    }                               
                }
            </div>




            <h2>TBC/TEST -- Edit your review below...</h2>
            
            <h4>Rate this place out of 5 stars!</h4>
            
            <p>1-5*</p>

            <p>Comments...</p>

            <h4>What tickled your fancy?</h4>

            <h4>Add tags!</h4>
        }
    }
    
</div>


