@model List<FocusFinderApp.Models.Location>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<div class="header-buttons">
    @if (ViewBag.IsLoggedIn == true)
    {
        <div class="user-info">
            <p>Welcome, @ViewBag.Username!</p>
            <a href="/Profile/@ViewBag.Username" class="btn btn-primary">Profile</a>
            <a href="/Logout" class="btn btn-danger">Logout</a>
        </div>
    }
    else
    {
        <a href="/Login" class="btn btn-primary">Login</a>
        <a href="/Register" class="btn btn-success">Register</a>
    }
</div>

<div class="i-body-top body-top">
    <div class="text-center">
        <h1 class="display-4">FocusFinder</h1>
        <form asp-controller="Location" asp-action="LocationByCity" method="get" class="search-form">
            <input type="text" name="query" placeholder="Location" class="search-input" required>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</div>

<div class="i-container">
    @if (Model?.Any() == true)
    {
        @foreach (var location in Model)
        {
            <div class="i-location-container glow-back">
                <div class="i-study-pic-container">
                    <img src="@Url.Content(location.ImageURL)" alt="@location.LocationName">
                </div>
                <div class="i-location-info">
                    <h2>@location.LocationName</h2>
                    <p>@location.City</p>
                </div>
            </div>
        }
    }
    else
    {
        <p>No locations found</p>
    }
</div>

@* <div class="i-container">
    @if (Model?.Any() == true)
    {
        @foreach (var location in Model)
        {
            <div class="i-location-container glow-back">
                <img src="@Url.Content(location.ImageURL)" alt="@location.LocationName">
                <div class="i-location-info">
                    <h2>@location.LocationName</h2>
                    <p>@location.City</p>
                </div>
            </div>
        }
    }
    else
    {
        <p>No locations found</p>
    }
</div> *@
