@{
    ViewData["Title"] = "Location";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<div class="i-body-top body-top">
    <div class="text-center">
        <h1 class="display-4">Location Name</h1>
    </div>
</div>

<!-- Main Location Container -->
<div>

    <!-- Bio -->
    <div> 
        <p>Location Description:</p>
        <p>@ViewBag.Location.Description</p>
    </div>

    <!-- Image -->
    <div class="i-study-pic-container glow-back">
        @{Console.WriteLine("image: " + @ViewBag.imageName);}
        <img src="@ViewBag.location.ImageURL" alt="Image of @ViewBag.location.LocationName location.">
        <!-- ^^ currently defaults to alt text if no image -->
    </div>

    <!-- Reviews Section -->
    <div>
        <p>Reviews - Overall 5⭐</p>
        <p>Reviews breakdown ... ... ...</p>
        <p>(awaiting Reviews table)</p>
    </div>

    <!-- Address/Map << Advanced -->
    <div>
        <p>Where even is it?</p>
        <p>@ViewBag.Location.BuildingIdentifier @ViewBag.Location.StreetAddress</p>
        <p>@ViewBag.Location.City</p>
        <p>@ViewBag.Location.County</p>
        <p>@ViewBag.Location.Postcode</p>
    </div>

    <!-- URL for Location's own webapage -->
    <div>
        <p>Find out more information here:</p>
        <p>✨URL tbc✨</p>
        <p>(awaiting column in Locations table)</p>
    </div>

</div>